
# Vector Database
data/pdf/
data/vector_store/
data/pdf_originals_backup/
# Chroma
chroma.sqlite3

# Cache
*.sqlite3

# Embedding DB
data/chroma/

# FAISS
*.faiss
*.pkl

# Index
*.index

frontend/node_modules/
frontend/dist/

# cache
__pycache__/
*.pyc